.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.containerPannels {
  z-index: 1;
  width: 70%;
  display: flex;
  flex-direction: row;
  background-color: #f5f3f321;
  border-radius: 8px;
  margin-top: 117px;
  height: 82%;
}

.backgroundImage {
  z-index: 1;
  background-color: #000000;
  opacity: 0.65;
  transition: background 0.3s, border-radius 0.3s, opacity 0.6s;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.backgroundContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
  min-width: 100%;
  z-index: 0;
  background-position-y: -100px;
  position: relative;
}

.backgroundContent::before{
  content:'';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url("../public/assets/images/notaire_contact.jpg");
  background-repeat: repeat;
  background-size: cover;
  filter: grayscale(100%);
  height: 100vh;
}

.brandContainer {
  width: 100%;
  margin-bottom: 10px;
}

.input {
  width: 93%;
  margin-left: auto;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px var(--orange-color);
}

.containerButton {
  margin-top: 8px;
}

.error {
  color: #DC143C;
}

.success {
  color: #66CDAA;
}

.message {
  font-size: 18px;
}

.callToAction:disabled {
  background-color: #BEBEBE;
  cursor: inherit;
}

.callToAction:disabled:hover {
  background-color: #BEBEBE;
  cursor: inherit;
}

.callToAction {
  font-size: 20px;
  padding: 7px 12px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--orange-color);
  border-color: inherit;
  border-width: inherit;
}

.callToAction:hover {
  cursor: pointer;
  background-color: var(--indigo-color);
  color: white;
  text-decoration: none;
}

.labelInput {
  text-align: right;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--orange-color);
}

.callLink {
  text-decoration: none;
  color: var(--white-color);
}

.callLink:active {
  font-weight: bold;
  color: var(--indigo-color);
  text-decoration: none;
  cursor: pointer;
}

.callLink:hover {
  font-weight: bold;
  color: var(--orange-color);
  text-decoration: none;
  cursor: pointer;
}

.validator {
 color: var(--white-color);
}

.address {
  color: var(--white-color);
}

.address:hover {
  font-weight: bold;
  color: var(--orange-color);
  text-decoration: none;
  cursor: pointer;
}

.asterix {
  font-weight: bold;
  color: var(--white-color);
}

.iframeContainer {
  display: block;
  border: 0px;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 50px;
  border-radius: 8px;
}

.email {
  text-decoration: none;
  color: var(--orange-color);
  font-weight: bold;
}

.email:hover {
  text-decoration: none;
  color: var(--white-color);
}

.formInput {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}

.formulaireContainer {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  float: right;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: fit-content;
}

.name {
  color : var(--orange-color);
}

.sousTitle {
  font-size: 28px;;
  text-align: center;
  font-weight: bold;
}

.informationsLibelle {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
  color: var(--white-color);
}


.logoText {
  width: 100%;
  text-align: center;
  font-size: 52px;;
  margin-left: 0 !important;
  color: var(--indigo-color);
}

.logoContainer {
  width: 100%;
  text-align: center;
  margin-bottom: inherit;
}

.informationContainer {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  float: left;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 40px;
  font-size: 18px;
}

.leftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: fit-content;
}

.titleLeftText {
  color: var(--white-color);
  text-align: right;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: fit-content;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleLeft {
  text-align: right;
}

.title {
  text-align: center;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 0px) {

  .iframeContainer {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .containerPannels {
    flex-direction: column;
    background-color: inherit;
    border-radius: 8px;
    margin-top: 240px;
    height: 100vh;
    width: 100%;
  }
  .container {
    flex-direction: column;
    height: fit-content;
  }

  .leftContainer {
    background-color: var(--white-color);
    width: 100%;
    order: 2;
  }

  .rightContainer {
    width: 100%;
    order: 1;
    height: fit-content;
  }

  .formulaireContainer {
    float: inherit;
    align-items: inherit;
    border-right: inherit;
    padding-right: inherit;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .labelInput {
    color: var(--indigo-color);
    text-align: left;
  }

  .input {
    width: 100%;
  }

  .containerButton {
    margin-top: 8px;
    width: 100%;
    height: fit-content;
    display: flex;
  }

  .callToAction {
    width: 100%;
    text-align: center;
  }

  .informationContainer {
    width: 100%;
    padding-left: inherit;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 30px;

  }

  .logo {
    width: 80px;
  }

  .logoText {
    font-size: 42px;
  }

  .titleFont {
    font-size: 28px;
    line-height: 0.8;
    margin: 0;
  }

  .logoContainer {
    margin-bottom: 5px;
  }

  .sousTitle {
    font-size: 24px;;
  }

  .titleLeft {
    text-align: center;
  }

  .titleLeftText {
    color: var(--indigo-color);
    text-align: center;
  }

  .validator {
   color: var(--gray);
  }

  .asterix {
    color: var(--orange-color);
  }

  .backgroundContent::before{
    background-position-x: -128px;
  }

}

@media only screen and (min-width : 1300px) {

  .containerPannels {
    z-index: 1;
    width: 70%;
    display: flex;
    flex-direction: row;
    background-color: #f5f3f321;
    border-radius: 8px;
    margin-top: 117px;
    height: 82%;
  }

  .container {
    flex-direction: row;
    height: fit-content;
  }

  .leftContainer {
    background-color: transparent;
    width: 50%;
    order: 1;
    height: 100%;
    margin-bottom: 16px;
    margin-top: 20px;
  }

  .rightContainer {
    width: 50%;
    order: 2;
    height: 90%;
  }

  .formulaireContainer {
    float: right;
    align-items: flex-end;
    padding-right: 40px;
    padding-top: inherit;
    background-color: inherit;
    padding-bottom: inherit;
    height: 100%;
  }

  .labelInput {
    color: var(--white-color);
    text-align: right;
  }

  .input {
    width: 93%;
  }

  .containerButton {
    margin-top: 8px;
    width: fit-content;
    justify-content: flex-end;
  }

  .callToAction {
    width: fit-content;
  }

  .informationContainer {
    width: 100%;
    font-size: 18px;
    padding-top: inherit;
    padding-bottom: inherit;
    justify-content: center;
    height: 100%;
  }

  .logo {
    width: 125px;
  }

  .logoText {
    font-size: 52px;;
  }

  .sousTitle {
    font-size: 28px;;
  }

  .titleLeft {
    text-align: right;
    color: var(--indigo-color);
  }

  .iframeContainer {
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 8px;
  }

  .titleLeftText {
    color: var(--white-color);
    text-align: right;
  }

  .validator {
   color: var(--white-color);
  }

  .asterix {
    font-weight: bold;
    color: var(--orange-color);
  }

  .backgroundContent::before{
    background-position-x: inherit;
  }

}
