.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.brandContainer {
  width: 100%;
  margin-bottom: 10px;
}

.input {
  width: 70%;
  margin-left: auto;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px var(--orange-color);
}

.containerButton {
  margin-top: 8px;
}

.callToAction {
  font-size: 20px;
  padding: 7px 12px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--orange-color);
}

.callToAction:hover {
  cursor: pointer;
  background-color: var(--indigo-color);
  color: white;
  text-decoration: none;
}

.labelInput {
  text-align: right;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--indigo-color);
}

.callLink {
  text-decoration: none;
  color: #6f6f6e;
}

.callLink:active {
  font-weight: bold;
  color: var(--indigo-color);
  text-decoration: none;
  cursor: pointer;
}

.callLink:hover {
  font-weight: bold;
  color: var(--indigo-color);
  text-decoration: none;
  cursor: pointer;
}

.address, .validator {
  color: #6f6f6e;
}

.address:hover {
  font-weight: bold;
  color: var(--indigo-color);
  text-decoration: none;
  cursor: pointer;
}

.asterix {
  font-weight: bold;
  color: var(--orange-color);
}

.email {
  text-decoration: none;
  color: var(--orange-color);
  font-weight: bold;
}

.email:hover {
  text-decoration: none;
  color: var(--indigo-color);
}

.formInput {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}

.formulaireContainer {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  float: right;
  align-items: flex-end;
  flex-direction: column;
  border-right: solid 1px #6f6f6e78;
  padding-right: 40px;
}

.name {
  color : var(--orange-color);
}

.sousTitle {
  font-size: 28px;;
  text-align: center;
  font-weight: bold;
}

.informationsLibelle {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
  color: var(--indigo-color);
}


.logoText {
  width: 100%;
  text-align: center;
  font-size: 52px;;
  margin-left: 0 !important;
  color: var(--indigo-color);
}

.logoContainer {
  width: 100%;
  text-align: center;
  margin-bottom: inherit;
}

.informationContainer {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  float: left;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 40px;
  font-size: 18px;
}

.leftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: fit-content;

}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: fit-content;
}

.titleLeft {
  text-align: right;
}

.title {
  text-align: center;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 0px) {
  .container {
    padding-top: 110px;
    flex-direction: column;
    height: fit-content;
  }

  .leftContainer {
    width: 100%;
    order: 2;
  }

  .rightContainer {
    width: 100%;
    order: 1;
    height: fit-content;
  }

  .formulaireContainer {
    float: inherit;
    align-items: inherit;
    border-right: inherit;
    padding-right: inherit;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    padding-bottom: 30px;
  }

  .labelInput {
    text-align: left;
  }

  .input {
    width: 100%;
  }

  .containerButton {
    margin-top: 8px;
    width: 100%;
    height: fit-content;
    display: flex;
  }

  .callToAction {
    width: 100%;
    text-align: center;
  }

  .informationContainer {
    width: 100%;
    padding-left: inherit;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .logo {
    width: 80px;
  }

  .logoText {
    font-size: 42px;
  }

  .titleFont {
    font-size: 28px;
    line-height: 0.8;
    margin: 0;
  }

  .logoContainer {
    margin-bottom: 5px;
  }

  .sousTitle {
    font-size: 24px;;
  }

  .titleLeft {
    text-align: center;
  }

}

@media only screen and (min-width : 1300px) {
  .container {
    padding-top: 110px;
    flex-direction: row;
    height: fit-content;
  }

  .leftContainer {
    width: 50%;
    order: 1;
    height: 100%;
    margin-bottom: 16px;
    margin-top: 20px;
  }

  .rightContainer {
    width: 50%;
    order: 2;
    height: 100%;
  }

  .formulaireContainer {
    float: right;
    align-items: flex-end;
    border-right: solid 1px #6f6f6e78;
    padding-right: 40px;
    padding-top: inherit;
    background-color: inherit;
    padding-bottom: inherit;
    height: 100%;
  }

  .labelInput {
    text-align: right;
  }

  .input {
    width: 70%;
  }

  .containerButton {
    margin-top: 8px;
    width: fit-content;
    justify-content: flex-end;
  }

  .callToAction {
    width: fit-content;
  }

  .informationContainer {
    width: 100%;
    padding-left: 40px;
    font-size: 18px;
    padding-top: inherit;
    padding-bottom: inherit;
  }

  .logo {
    width: 125px;
  }

  .logoText {
    font-size: 52px;;
  }

  .sousTitle {
    font-size: 28px;;
  }

  .titleLeft {
    text-align: right;
    color: var(--indigo-color);
  }

}
