:root {
    --indigo-color: #273854;
    --orange-color: #E69775;
    --white-color: #f5f3f3;
    --font-size-title: 28px;
    --font-size-paragraph: 17px;
    --font-size-title-mobile: 32px;
    --font-size-paragraph-mobile: 20px;
    --indigo-color-shade: #0c3865a8;
}

@font-face {
  font-family: 'QuickSand-Regular';
  font-display: swap ;
  src: local('QuickSand-Regular'), url('./../public/fonts/static/Quicksand-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'QuickSand-Bold';
  font-display: swap ;
  src: local('QuickSand-Bold'), url('./../public/fonts/static/Quicksand-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html,
body {
  height: 100%;
  min-height: 100%;
  top: 0px;
  color: #6f6f6e;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "QuickSand-Regular";
}

*, :after, :before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
